<div class="radio">
    <input class="radio_input" name="category" type="radio" id="radio_1">
    <label class="radio-btn">Beef</label>
</div>
<div class="radio">
    <input class="radio_input" name="category" type="radio" id="radio_2">
    <label class="radio-btn">Breakfast</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Breakfast</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Chicken</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Dessert</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Goat</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Lamb</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Miscellaneous</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Pasta</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Pork</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Seafood</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Side</label>
</div>
<label class="radio-btn">
    <input type="radio" name="category">Soup</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Starter</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Vegan</label>
</div>
<div class="block"><label class="radio-btn">
    <input type="radio" name="category">Vegetarian</label>
</div>    </div>