
    <div class="block">
    <label class="radio-btn">
        <input type="radio" name="category">Beef</label>
    <label class="radio-btn">
        <input type="radio" name="category">Breakfast</label>
    <label class="radio-btn">
        <input type="radio" name="category">Chicken</label>
    <label class="radio-btn">
        <input type="radio" name="category">Dessert</label>
    <label class="radio-btn">
        <input type="radio" name="category">Goat</label>
    <label class="radio-btn">
        <input type="radio" name="category">Lamb</label>
    <label class="radio-btn">
        <input type="radio" name="category">Miscellaneous</label>
    <label class="radio-btn">
        <input type="radio" name="category">Pasta</label>
    <label class="radio-btn">
        <input type="radio" name="category">Pork</label>
    <label class="radio-btn">
        <input type="radio" name="category">Seafood</label>
    <label class="radio-btn">
        <input type="radio" name="category">Side</label>
    <label class="radio-btn">
        <input type="radio" name="category">Soup</label>
    <label class="radio-btn">
        <input type="radio" name="category">Starter</label>
    <label class="radio-btn">
        <input type="radio" name="category">Vegan</label>
    <label class="radio-btn">
        <input type="radio" name="category">Vegetarian</label>
    </div>
 
  
  