<div class="favorites__image-box">
    <picture>
        <source
            srcset="./img/hero-img-desktop.webp"
            media="(min-width: 1280px)"
            type="image/webp"
        />
        <source
            srcset="./img/hero-img-desktop.jpg"
            media="(min-width: 1280px)"
        />

        <source
            srcset="./img/hero-img-tablet.webp"
            media="(min-width: 768px)"
            type="image/webp"
        />
        <source srcset="./img/hero-img-tablet.jpg" media="(min-width: 768px)" />

        <source
            srcset="./img/hero-img-mobile.webp"
            media="(min-width: 50px)"
            type="image/webp"
        />
        <source srcset="./img/hero-img-mobile.jpg" media="(min-width: 50px)" />

        <img class="favorites__image" src="./img/hero-img-mobile.jpg" />
    </picture>
</div>

<div class="favorites__not-atendent is-hidden">
    <svg class="favorites__svg">
        <use href="./img/icons.svg#cap"></use>
    </svg>
    <p class="favorites__not-attendent-text">
        It appears that you haven't added any recipes to your favorites yet. To
        get started, you can add recipes that you like to your favorites for
        easier access in the future.
    </p>
</div>

<ul class="favorites__categories-list">
    <li class="favorites__categories-item">
        <button type="button" class="favorites__categories-btn">All categories</button>
    </li>
</ul>

<!-- <div class="favorites__gallery-list"></div> -->
