<footer class="footer">
    <div class="footer-wrap container">
        <div class="footer-logo">
            <a class="" href="./index.html">
                <span class="footer-logo-text">tasty</span>treats.</a
            >
        </div>
        <button class="feedback-btn" type="submit">Leave Feedback</button>

        <div class="footer-social">
            <ul class="footer-social-list">
                <li class="footer-social-item">
                    <a
                        class="footer-social-link"
                        href="https://www.instagram.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="footer-social-icon">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a
                        class="footer-social-link"
                        href="https://www.facebook.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="footer-social-icon">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a
                        class="footer-social-link"
                        href="https://twitter.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="footer-social-icon">
                            <use href="./img/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a
                        class="footer-social-link"
                        href="https://www.youtube.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg class="footer-social-icon">
                            <use href="./img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-nav">
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="./index.html"
                        >Health & Safety Guidelines</a
                    >
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="./index.html"
                        >Privacy Policy</a
                    >
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="./index.html"
                        >Terms & Conditions</a
                    >
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            <p class="copyright">© 2023 TastyTreats</p>
        </div>
    </div>
</footer>
