<div class="hero-container">
    <div class="hero-content">
        <h1 class="hero-title">Learn to Cook  <span class="hero-title-decor">Tasty Treats'</span> Customizable Masterclass</h1>
        <p class="hero-text">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
        <button class="hero-btn" type="button" data-order-btn-open>Order now</button>
    </div>
    <div class="hero-slider">
        <div class="slider-container">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
