<!-- <button type="button" class="order-modal-open-btn" data-order-btn-open>Order now</button> -->

<div class="order-backdrop is-hidden" data-order-backdrop>
  <!--is-hidden-->
  <div class="order-modal">
    <button type="button" class="order-modal-close-btn" data-order-btn-closed>
      <svg class="order-modal-close-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="x">
          <path id="Vector" d="M18 6L6 18" stroke="#050505" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path id="Vector_2" d="M6 6L18 18" stroke="#050505" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </g>
      </svg>
    </button>
    <p class="order-modal-text">Order now</p>
    <div class="form-container">
      <form class="order-form">
        <label class="order-form-field"><span class="order-form-desc">Name</span>
          <input class="order-form-input" type="text" name="user_name" required pattern="[a-zA-Z]+" minlength="3">
        </label>
        <label class="order-form-field"><span class="order-form-desc">Phone number</span>
          <input class="order-form-input" type="tel" name="user_phone" required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx">
        </label>
        <label class="order-form-field"><span class="order-form-desc">Email</span>
          <input class="order-form-input" type="email" name="user_email" required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
        </label>
        <label class="order-form-field"><span class="order-form-desc">Comment</span>
          <textarea name="user_message" class="order-form-message"></textarea></label>
        <button class="order-form-btn base-btn" type="submit">Send</button>
        <!-- <p class="order-message is-hidden">Your message send!</p> -->
      </form>
    </div>
  </div>
</div>