<!-- <button class="js-see-recipe" data-id='6462a8f74c3d0ddd28897fc1'>Recept</button> -->

<div class="pop-up-backdrop is-hidden" data-pop-up-backdrop>
  <!--is-hidden-->
  <div class="pop-up-modal">
    <button type="button" class="pop-up-modal-close-btn" data-pop-up-btn-close>
      <svg class="order-modal-close-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="x">
          <path id="Vector" d="M18 6L6 18" stroke="#050505" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path id="Vector_2" d="M6 6L18 18" stroke="#050505" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </g>
      </svg>
    </button>
    <div class="pop-up-container"></div>
  </div>
</div>