<div class="rating__modal">
  <p class="rating-text">Rating</p>
  <div class="rating__wrap">
    <p class="rating__value">0.0</p>
    <svg class="rating__icon" width="18" height="18">
      <use href=""></use>
    </svg>
    <svg class="rating__icon" width="18" height="18">
      <use href=""></use>
    </svg>
    <svg class="rating__icon" width="18" height="18">
      <use href=""></use>
    </svg>
    <svg class="rating__icon" width="18" height="18">
      <use href=""></use>
    </svg>
    <svg class="rating__icon" width="18" height="18">
      <use href=""></use>
    </svg>
  </div>
  <form class="rating__form">
    <input clsss="rating__input" type="email" placeholder="Enter email" />
    <button class="rating__submit" type="submit">Send</button>
  </form>
  <button class="close-modal" type="button">X</button>
</div>
