<form action="">
    <label for="search">Search</label>
    <input type="text" name="search" id="search">
    <label for="time">Time</label>
    <select name="time" id="time"></select>
    <label for="area">Area</label>
    <select name="area" id="area"></select>
    <label for="ingredients">Ingredients</label>
    <select name="ingredients" id="ingredients"></select>
    <button><span>X</span>Reset the filter</button>
</form>
<div class="cards js-cards"></div>
<div class="pages js-pages"></div>