<form class="js-form-filter">
    <label for="search">Search</label>
    <input type="text" name="search" id="search" placeholder="Enter Text" />
    <label for="time">Time</label>
    <select name="time" id="time" class="js-select-time">
        <option disabled="disabled" selected="selected">Choose time</option>
    </select>
    <label for="area">Area</label>
    <select name="area" id="area">
        <option disabled="disabled" selected="selected">Choose area</option>
    </select>
    <label for="ingredients">Ingredients</label>
    <select name="ingredients" id="ingredients">
        <option disabled="disabled" selected="selected">
            Choose ingredient
        </option>
    </select>
    <button class="js-btn-reset-filters"><span>X</span>Reset the filter</button>
</form>
<div class="cards js-cards"></div>
<div class="pages js-pages">
    <button>start</button>
    <button>prev</button>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>...</button>
    <button>next</button>
    <button>end</button>
</div>
