:root {
    /* Constant colors */
    --light-color: #fff;
    --dark-color: #050505;
    --accent-color: #9bb537;
    --stars-color: #eea10c;
    --stars-uncolored: #d9d9d9;
    --btn-text-color: #f8f8f8;
    --light-modal-background-color: #fff;
    --transition: scale 300ms linear;
    --accent-color-dark: #9bb537;
    --light-color-dark: #fff */

    /* Colors that will change for Dark Theme */
    --light-theme-text-color: #050505;
    /* transparent 50% */
    --light-theme-semi-transparent-color: #05050580;
    /* transparent 30% */
    --light-theme-almost-transparent-color: #0505054d;
    /* transparent 20% */
    --light-theme-transparent-color: #05050533;
    --light-theme-slider-semi-transparent-color: #f8f8f880;
    --light-theme-card-stars-color: #f8f8f8;
    --light-theme-background-color-cards-gradient: linear-gradient(
        1deg,
        rgba(5, 5, 5, 0.6) 0%,
        rgba(5, 5, 5, 0) 100%
    );
    --light-theme-scrollbar-color-categories: #0505052e;
    --light-theme-scrollbar-color-select: #0505051a;

    --dark-theme-background-color: #1e1e1e;

    --cards-background-color-for-stars: #00000042;

    --animation: 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77);

    /* --ss-content-height: 176px !important;
    --ss-border-radius: 15px !important; */
}

.dark {
    background-color: var(--dark-theme-background-color);
    --stars-uncolored: #3c3b3b;
    --light-theme-text-color: #fff;
    --light-theme-semi-transparent-color: #ffffff80;
    --light-theme-almost-transparent-color: #ffffff4d;
    --light-theme-transparent-color: #ffffff33;
    --light-modal-text-color: #ffffffcc;
    --light-modal-underline-color: #ffffff80;
    --light-modal-scroll-color: #ffffff2e;
    --light-modal-background-color: #050505;
    --light-theme-card-stars: #fff;
    --light-theme-background-color-cards-gradient: linear-gradient(
        1deg,
        #050505 0%,
        rgba(5, 5, 5, 0) 100%
    );
    --light-theme-scrollbar-color-categories: #ffffff2e;
    --light-theme-scrollbar-color-select: #ffffff1a;
    --accent-color-dark: #050505; 
    /* --accent-color: #9bb537 */
}

.base-btn {
    padding: 14px 28px;
    color: var(--btn-text-color);
    background-color: var(--accent-color);
    border: 1px var(--accent-color) solid;
    border-radius: 15px;
    transition: color var(--animation);
}

.base-btn:hover,
.base-btn:focus {
    color: var(--dark-color);
    outline: none;
}

/* ----------- Scrollbar styles ------------- */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--light-theme-scrollbar-color-categories, #0505052e);
    border-radius: 12px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--light-theme-scrollbar-color-categories, #0505052e)
        transparent;
}

.ss-list::-webkit-scrollbar {
    width: 6px;
}
.ss-list::-webkit-scrollbar-thumb {
    background-color: var(--light-theme-scrollbar-color-select, #0505051a);
}
.ss-list {
    scrollbar-color: var(--light-theme-scrollbar-color-select, #0505051a)
        transparent;
}
