.favorites__image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 18px;
    overflow: hidden;
}

.favorites__not-atendent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 335px;
    margin: 0 auto;
}

.favorites__svg {
    width: 68px;
    height: 58px;
    margin-bottom: 24px;
}

.favorites__not-attendent-text {
    text-align: center;
}

.favorites__categories-list {
    margin-bottom: 24px;
    display: flex;
    gap: 15px;
}

.favorites__image-box {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.favorites__image {
    max-width: 100%;
    display: block;
}


.favorites__categories-btn,
.favorites__all-categories-btn {
    padding: 14px 18px;
    color: rgba(5, 5, 5, 0.3);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    background-color: #f8f8f8;
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favorites__all-cat-chose-btn {
    background-color: var(--accent-color);
    color: var(--light-color);
    border: none;
}

.favorites__categories-btn:hover {
    color: white;
    background-color: #9bb537;
    border-color: #9bb537;
}

.favorites__gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: start;
    margin: 0 auto;
    margin-bottom: 40px;
    
}

.favorites__card {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    max-width: 335px;
}

.favorites__card-info {
    position: absolute;
    left: 16px;
    bottom: 16px;
    max-width: 303px;
    width: 100%;
}

.favorites__card-image {
    width: 100%;
    display: block;
}

.favorites__card-tittle {
    color: #f8f8f8;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
}

.favorites__card-description {
    overflow: hidden;
    color: #f8f8f8;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 8px 0 16px 0;
}

.favorites__card-btn {
    border-radius: 8px;
    background: #9bb537;
    border: none;
    padding: 8px 16px;

    color: #f8f8f8;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    margin-left: auto;
    display: block;
}

.favorites__card-heart {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 19px;
    right: 17px;
    background-color: transparent;
}

.favorite__heart-svg {
    width: 22px;
    height: 22px;
}

.favorites__svg-heart {
    stroke: white;
    fill: white;
}

.heart-svg-bg {
    fill: transparent;
}

.favorites__card-description {
    max-width: 303px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.favorites__card-tittle {
    max-width: 303px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.favorites__not-atendent-empty {
    height: 50vh;
    display: flex;
    justify-content: center;
}

.favorites__card .card__rating {
    position: absolute;
    bottom: 0;
    color: white;
}

@media screen and (min-width: 768px) {
    .favorites__container {
        max-width: 768px;
    }

    .favorites__categories-list {
        margin: 0 auto;
        display: flex;
        justify-content: start;
        margin-bottom: 32px;
    }

    .favorites__card {
        max-width: 224px;
    }
    .favorites__gallery-list {
        margin-bottom: 64px;
    }

    .favorites__not-atendent {
        width: 481px;
    }

    .favorites__card-info {
        max-width: 192px;
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .favorites__card {
        max-width: 258px;
    }

    .favorites__image-box {
        margin-top: 40px;
    }

    .favorites__card-info {
        max-width: 226px;
        width: 100%;
    }
}
