/** =============================================== FOOTER */
/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media PHONE */

footer {
    margin-top: 40px;
    border-top: 2px solid rgba(155, 181, 55, 0.2);
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.footer-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}
.feedback-btn {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: var(--light-theme-text-color);
    border: 1px solid var(--accent-color);
    background-color: transparent;
    font-weight: 500;
    line-height: normal;

    transition: color var(--animation), background-color var(--animation);
}

.feedback-btn:is(:hover, :focus) {
    color: var(--btn-text-color);
    background-color: var(--accent-color);
}

.footer-logo {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.12;
    letter-spacing: -0.64px;

    transition: transform var(--animation);
}

.footer-logo:hover {
    transform: scale(1.1);
}

.footer-logo-text {
    color: var(--accent-color);
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.footer-social-link {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity var(--animation);
}

.footer-social-link .footer-social-icon {
    fill: var(--light-theme-semi-transparent-color);
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
    fill: var(--accent-color);
    opacity: 0.8;
    transform: scale(1.1);
    stroke: var(--light-theme-semi-transparent-color);
}

.footer-social-icon {
    width: 22px;
    height: 22px;
    display: inline-block;

    transition: fill var(--animation), opacity var(--animation),
        transform var(--animation), stroke var(--animation);
}
.footer-nav-link {
    transition: color var(--animation);
}
.footer-nav-link:is(:hover, :focus) {
    color: var(--accent-color);
}

.copyright {
    color: var(--light-theme-semi-transparent-color);
}

/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media TABLET */

@media screen and (min-width: 768px) {
    .footer-wrap {
        flex-direction: column;
    }
    .footer-feed {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
    }
    .footer-nav-list {
        display: flex;
        justify-content: center;
    }

    .footer-nav-item:not(:last-child) {
        padding-right: 10px;
    }
    .footer-nav-item:not(:last-child)::after {
        content: '|';
    }

    .feedback-btn:nth-child(2) {
        order: -1;
    }
    .feedback-btn {
        padding: 14px 28px;
    }

    .footer-logo {
        font-size: 18px;
        line-height: 1.25;
        letter-spacing: -0.72px;
    }

    .footer-social-list {
        gap: 10px;
    }
    .footer-social-icon {
        width: 24px;
        height: 24px;
    }
}

/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media DESKTOP */

@media screen and (min-width: 1280px) {
}

/** =============================================== SCROLL-UP */
/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media PHONE */

.btn-up {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    bottom: 68px;
    right: 26px;
    transform: translateX(100px);

    width: 40px;
    height: 40px;

    border: 1px solid var(--light-theme-semi-transparent-color);
    background-color: rgba(155, 181, 55, 0.2);

    border-radius: 50%;

    transition: opacity var(--animation), transform var(--animation),
        visibility var(--animation), background-color var(--animation),
        color var(--animation);

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn-up.hidden:is(:hover, :focus) {
    color: var(--light-theme-semi-transparent-color);
    background-color: var(--accent-color);
}

.btn-up-icon {
    fill: var(--light-theme-semi-transparent-color);
    width: 16px;
    height: 18px;
    display: inline-block;
}
/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media TABLET */

@media screen and (min-width: 768px) {
    .btn-up {
        bottom: 140px;

        width: 44px;
        height: 44px;
        /* font-size: 36px; */
    }
    .btn-up-icon {
        width: 18px;
        height: 20px;
    }
}

/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media DESKTOP */

@media screen and (min-width: 1280px) {
    .btn-up {
        bottom: 150px;
    }
}

/** =============================================== FEEDBACK */
/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media PHONE */

.feedback-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: var(--light-theme-semi-transparent-color);

    overflow-y: auto;
    transition: opacity var(--transition), visibility var(--transition);
}

.no-scroll {
    overflow: hidden;
}

.feedback-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    background: var(--light-modal-background-color);
    border-radius: 15px;
    padding: 28px 20px;
}

.feedback-modal-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;

    width: 22px;
    height: 22px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
}

.feedback-modal-close-btn:hover,
.feedback-modal-close-btn:focus {
    border: none;
    outline: none;
}

.feedback-close-btn-icon {
    stroke: var(--light-theme-text-color);
    width: 20px;
    height: 20px;
}

.feedback-modal-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    text-transform: uppercase;
    margin-bottom: 28px;

    color: var(--light-theme-text-color);
}

.feedback-form {
    display: flex;
    flex-direction: column;
}

.feedback-form-descr {
    display: block;
    color: var(--light-theme-semi-transparent-color);
    margin-bottom: 8px;
}
.feedback-form-input {
    width: 100%;
    height: 46px;
    border: 1px solid var(--light-theme-almost-transparent-color);
    border-radius: 15px;
    background-color: transparent;
    color: var(--light-theme-text-color);
    padding: 14px 18px;
    margin-bottom: 16px;

    transition: border-color var(--animation);
}

.feedback-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.feedback-form-message {
    width: 100%;
    min-height: 160px;
    max-height: 200px;
    resize: none;
    border: 1px solid var(--light-theme-almost-transparent-color);
    border-radius: 15px;
    background-color: transparent;
    color: var(--light-theme-text-color);

    padding: 14px 18px;
    margin-bottom: 40px;

    transition: border-color var(--animation);
}

.feedback-form-message:focus {
    border-color: var(--accent-color);
    outline: none;
}

.feedback-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: color var(--animation);
}

.feedback-form-btn:is(:hover, :focus) {
    color: #050505;
}

/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media TABLET */

@media screen and (min-width: 768px) {
    .feedback-modal {
        width: 440px;
        padding: 40px 40px;
    }

    .feedback-modal-close-btn {
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
    }

    .feedback-modal-text {
        margin-bottom: 40px;
    }

    .feedback-form-input {
        margin-bottom: 18px;
    }
}

/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< @media DESKTOP */

@media screen and (min-width: 1280px) {
}
