:root {
    --white-2: #F3F3F3;
    --switch-light-grey: #CECDCD;
    --switch-dark: linear-gradient(rgba(155, 181, 55, 1), rgba(155, 181, 55, 0.69));
}

.header-container.container {
    min-width: 320px;
}

.header-items {
    display: flex;
    align-items: center;
    padding-top: 20.5px;
}

.header-nav {
    display: none;
}

/*логотип*/
.header-logo {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.13;
    transition: transform var(--animation);
}

.header-logo:hover {
    transform: scale(1.3);
}

.logo-light {
    color: var(--accent-color);
}

.dark-logo {
    color: var(--light-theme-text-color);
}

/* загальні стилі для іконок */
.header-icons {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: auto;
}

/* картка покупця */
.order-button.button {
    stroke: var(--dark-color);
    fill: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    transition: transform var(--animation);
}

.icon-shopping-cart {
    color: var(--dark-color);
    stroke: var(--light-theme-text-color);
    background-color: transparent;
    transition: transform var(--animation);
}


.shopping-icon-use {
    fill: var(--light-color);
    stroke: var(--light-theme-text-color);
}

.icon-shopping-cart:is(:hover, :focus) {
    stroke: var(--accent-color);
    transform: scale(1.3);
}

/* перемикач тем */

.header-switch {
    display: none;
}

/*бургер*/
.menu-open-icon {
    stroke: var(--dark-color);
    background-color: var(--btn-text-color);
    transition: var(--animation);
}

.menu-open-icon:is(:hover, :focus) {
    stroke: var(--accent-color);
    transform: scale(1.3);
}

.mob-menu-btn-open {
    background-color: var(--btn-text-color);
    transform: translateX(0);
}

/* мобільне меню */
.is-hidden {
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 23%;
    z-index: 999;
    width: 53.33%;
    height: 100%;
    background: var(--accent-color);
    transition: transform var(--animation), opacity var(--animation),
        visibility var(--animation);
    overflow: auto;
}

.mobile-menu.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.mob-menu-btn-close .mob-menu-close {
    transition: transform 0.3s ease-in-out;
}

.mob-menu-btn-close:hover .mob-menu-close {
    transform: scale(1.3);
}

.mob-menu-close-icon {
    stroke: var(--btn-text-color);
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 200px;
    padding-bottom: 566px;
}

.item-home {
    color: var(--light-color);
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
}

.item-favorites {
    color: var(--btn-text-color);
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
}

.item-home .item-favorites {
    color: var(--light-theme-text-color);
}

.switch {
    position: absolute;
    width: 46px;
    height: 20px;
    bottom: 20px;
    left: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-light-grey);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: var(--white-2);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background: linear-gradient(rgba(155, 181, 55, 1),
            rgba(155, 181, 55, 0.69));
    box-shadow: 5px 5px 15px rgba(243, 243, 243, 0.25);
}

input:checked+.slider:before {
    transform: translateX(26px);
    box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
}

.current::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: linear-gradient(rgba(155, 181, 55, 1),
            rgba(155, 181, 55, 0.69));
}


@media screen and (max-width: 767px) {
    .header-list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .header-items {
        justify-content: space-between;
        padding-top: 28px;
    }

    .header-nav {
        display: inline;
        position: relative;
    }

    .header-link-home {
        font-size: 12px;
        font-weight: 500;
        margin-right: 16px;
    }

    .header-link-favorites {
        position: relative;
        font-size: 12px;
        font-weight: 400;
    }

    .header-link {
        color: var(--light-theme-text-color);
    }

    .header-link.active {
        color: var(--accent-color);
    }

    .header-logo {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.11;
    }

    .header-icons {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-left: 0;
    }

    .mobile-menu {
        display: none;
    }

    .mob-menu-btn-open {
        display: none;
    }

    .header-switch {
        position: relative;
        display: flex;
        width: 46px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 7px 5px 15px 0px #A09EA066;
    }

    .header-switch input {
        display: none;
    }

    .header-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--switch-light-grey);
        transition: 0.4s;
        border-radius: 34px;
        box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
    }

    .header-slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 2px;
        bottom: 2px;
        background-color: var(--white-2);
        transition: 0.4s;
        border-radius: 50%;
    }

    .header-switch input:checked+.header-slider {
        background: linear-gradient(rgba(155, 181, 55, 1),
                rgba(155, 181, 55, 0.69));
        box-shadow: 5px 5px 15px rgba(243, 243, 243, 0.25);
    }

    .header-switch input:checked+.header-slider:before {
        box-shadow: 5px 5px 15px rgba(243, 243, 243, 0.25);
        transform: translateX(26px);
    }
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px;
    }

    .header-items {
        padding-top: 40px;
    }

    .header-icons {
        gap: 24px;
    }
}