:root {
    --color-brand: #9BB537;
    --color-invert: #F8F8F8;
    --transform-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container {
    padding-left: 20px;
    padding-top: 64px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}

.hero-content {
    padding-right: 20px;
}

.hero-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.hero-title-decor {
    color: var(--color-brand);
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
}

.hero-text {
    font-weight: 400;
    margin-bottom: 28px;
}

.hero-btn {
    font-weight: 500;
    line-height: normal;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid var(--color-brand);
    background-color: transparent;
    text-align: center;
    margin-bottom: 48px;
    transition: background-color var(--transform-dur-and-func), border var(--transform-dur-and-func), color var(--transform-dur-and-func);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-brand);
    border: 1px solid transparent;
    color: var(--color-invert);
}

@media screen and (min-width:768px) {
    .hero-container {
        padding-left: 32px;
        max-width: 768px;
    }

    .hero-content {
        padding-right: 32px;
    }

    .hero-title {
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 16px;
        max-width: 446px;
    }

    .hero-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 32px;
        max-width: 408px;
    }

    .hero-btn {
        padding: 14px 28px;
        border-radius: 15px;
        text-align: center;
        margin-bottom: 64px;
        transition: background-color var(--transform-dur-and-func), border var(--transform-dur-and-func);
    }
}

@media screen and (min-width:1280px) {
    .hero-container {
        padding-left: 100px;
        padding-top: 60px;
        padding-bottom: 50px;
        max-width: 1280px;
        display: flex;
        flex-wrap: nowrap;
    }

    .hero-content {
        margin-right: 32px;
        padding-right: 0;
        flex: 0 0 446px;
    }

    .hero-title {
        margin-top: 64px;
    }

    .hero-btn {
        margin-bottom: 0;
    }
}

/* ___________ */
.slider-container {
    overflow: hidden;
    margin-left: 0;
    max-width: 497px;
}

.swiper {
    width: 497px;
    height: 302px;
}

.slider-images {
    display: flex;
    gap: 16px;
}

.image-container-1,
.image-container-2,
.image-container-3 {
    height: 280px;
    overflow: hidden;
    border-radius: 15px;
}

.image-1 {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-3 {
    max-width: 120%;
    height: 120%;
    object-fit: cover;
}

.image-2 {
    width: 157px;
    height: 142px;
}

.image-container-1 {
    width: 80px;
}

.image-container-2,
.image-container-3 {
    width: 200px;
    background: #050505;
}

.image-container-2 {
    box-sizing: border-box;
    border: 1px solid rgba(155, 181, 55, 0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}

.image-title {
    color: rgba(248, 248, 248, 0.60);
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: calc(14/10);
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 20px;
}

p.image-descraption {
    color: rgba(248, 248, 248, 0.20);
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    line-height: calc(12/8);
    margin-bottom: 14px;
}

.swiper .swiper-pagination {
    transform: translate(-11.5%, 58%);
}

.swiper .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background: #050505;
    opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
    background: var(--color-brand);
    opacity: 1;
}

@media screen and (min-width:768px) {
    .slider-container {
        max-width: 871px;
    }

    .swiper {
        width: 871px;
        height: 468px;
    }

    .image-container-1,
    .image-container-2,
    .image-container-3 {
        height: 442px;
    }

    .image-container-1 {
        width: 137px;
    }

    .image-container-2,
    .image-container-3 {
        width: 351px;
    }

    .image-2 {
        width: 304px;
        height: 271px;
    }

    .image-title {
        color: rgba(248, 248, 248, 0.60);
        font-size: 14px;
        line-height: calc(18/14);
        margin-top: 32px;
    }

    p.image-descraption {
        font-size: 12px;
        line-height: calc(14/12);
        margin-bottom: 32px;
    }

    .swiper .swiper-pagination {
        transform: translate(-12%, 58%);
    }
}

@media screen and (min-width:1280px) {
    .hero-slider {
        min-width: 0;
    }

    .slider-container {
        overflow: hidden;
    }
}




/* .hero-container-s {
    padding-left: 20px;
    padding-top: 64px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    position: relative;

}

.hero-content-s,
.hero-slider-s {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
    height: 200px;
    background-color: #9BB537;
}

.hero-slider-s {
    max-width: 897px;

    position: absolute;

    left: 20px;

    top: 320px;

    overflow: hidden;

    background-color: #050505;
    margin-right: -40px;
} */