.order-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 15;
    width: 100%;
    height: 100%;
    background: var(--light-theme-semi-transparent-color);

    overflow-y: auto;
    transition: opacity var(--animation), visibility var(--animation);
}

.order-backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--animation) ease-out, visibility var(--animation);
}

.order-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    max-width: 335px;
    height: auto;
    background: var(--light-color);
    border-radius: 15px;
    padding: 28px 20px;
}

.order-modal-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;

    width: 22px;
    height: 22px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
}

.order-modal-close-btn:hover,
.order-modal-close-btn:focus {
    border: none;
}

.order-modal-close-icon {
    stroke: var(--light-theme-text-color);
    width: 20px;
    height: 20px;
}

.order-modal-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.375rem;
    text-transform: uppercase;

    color: var(--light-theme-text-color);

    margin-bottom: 18px;
}

/* Order now form */

.order-form {
    display: flex;
    flex-direction: column;
}

.order-form-field {
}

.order-form-desc {
    display: block;

    color: var(--light-theme-semi-transparent-color);

    margin-bottom: 8px;
}
.order-form-input {
    width: 100%;
    height: 46px;

    border: 1px solid var(--light-theme-almost-transparent-color);
    border-radius: 15px;

    background-color: transparent;
    color: var(--light-theme-text-color);

    padding: 14px 18px;
    margin-bottom: 16px;

    transition: border-color var(--transition);
}

.order-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.order-form-message {
    width: 100%;
    min-height: 80px;
    max-height: 100px;
    resize: none;

    border: 1px solid var(--light-theme-almost-transparent-color);
    border-radius: 15px;

    background-color: transparent;
    color: var(--light-theme-text-color);

    padding: 14px 18px;
    margin-bottom: 40px;

    transition: border-color var(--transition);
}

.order-form-message:focus {
    border-color: var(--accent-color);
    outline: none;
}

@media screen and (min-width: 768px) {
    .order-modal {
        width: 440px;
        max-width: 440px;
        height: auto;
    }

    .order-form-input {
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 1280px) {
}
