/* ---------- Pagination -------------- */

.pages {
    display: flex;
    justify-content: space-between;
}

.tui-page-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(5, 5, 5, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.tui-is-disabled {
    background-color: #050505;
}

.tui-is-active {
    background-color: #9bb537;
}

.tui-is-selected {
    background-color: #9bb537;
}

.tui-next {
    background-image: url(../img/icon-next-mob-disabled.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.tui-next.tui-is-active {
    background-image: url(../img/icon-next-mob.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.tui-last {
    background-image: url(../img/icon-next-mob-disabled.svg),
        url(../img/icon-next-mob-disabled.svg);
    background-repeat: no-repeat;
    background-position: 35% 50%, 65% 50%;
}
.tui-last.tui-is-active {
    background-image: url(../img/icon-next-mob.svg),
        url(../img/icon-next-mob.svg);
    background-repeat: no-repeat;
    background-position: 35% 50%, 65% 50%;
}

.tui-prev {
    background-image: url(../img/icon-prev-mob-disabled.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.tui-prev.tui-is-active {
    background-image: url(../img/icon-prev-mob.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.tui-first {
    background-image: url(../img/icon-prev-mob-disabled.svg),
        url(../img/icon-prev-mob-disabled.svg);
    background-repeat: no-repeat;
    background-position: 35% 50%, 65% 50%;
}
.tui-first.tui-is-active {
    background-image: url(../img/icon-prev-mob.svg),
        url(../img/icon-prev-mob.svg);
    background-repeat: no-repeat;
    background-position: 35% 50%, 65% 50%;
}

/* ------------- @amedia ------------------- */
@media screen and (min-width: 768px) {
    .pages {
        max-width: 500px;
        margin-left: 129px;
    }

    .tui-page-btn {
        width: 44px;
        height: 44px;
    }

    .tui-next {
        background-image: url(../img/icon-next-disabled.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .tui-next.tui-is-active {
        background-image: url(../img/icon-next.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .tui-last {
        background-image: url(../img/icon-next-disabled.svg),
            url(../img/icon-next-disabled.svg);
        background-repeat: no-repeat;
        background-position: 35% 50%, 65% 50%;
    }
    .tui-last.tui-is-active {
        background-image: url(../img/icon-next.svg), url(../img/icon-next.svg);
        background-repeat: no-repeat;
        background-position: 35% 50%, 65% 50%;
    }

    .tui-prev {
        background-image: url(../img/icon-prev-disabled.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .tui-prev.tui-is-active {
        background-image: url(../img/icon-prev.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .tui-first {
        background-image: url(../img/icon-prev-disabled.svg),
            url(../img/icon-prev-disabled.svg);
        background-repeat: no-repeat;
        background-position: 35% 50%, 65% 50%;
    }
    .tui-first.tui-is-active {
        background-image: url(../img/icon-prev.svg), url(../img/icon-prev.svg);
        background-repeat: no-repeat;
        background-position: 35% 50%, 65% 50%;
    }
}
@media screen and (min-width: 1280px) {
    .pages {
        margin-left: 480px;
    }
}
