.scroll-blocked {
    overflow: hidden;
}

.pop-up-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: var(--light-theme-semi-transparent-color);

    overflow-y: auto;

    transition: opacity var(--animation), visibility var(--animation);
}

.pop-up-backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--animation) ease-out, visibility var(--animation);
}

.pop-up-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 335px;
    height: calc(100% - 20px);
    background: var(--light-color);
    border-radius: 15px;
    padding: 40px 20px;
    /* overflow-y: scroll; */
    overflow-y: auto;
}

.pop-up-modal::-webkit-scrollbar {
    width: 0.5em;
}

.pop-up-modal::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.pop-up-modal-close-btn {
    position: absolute;

    top: 14px;
    right: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;

    padding: 0;

    cursor: pointer;

    /* transition: background var(--transition-hover-focus); */
}

.pop-up-modal-close-btn:hover,
.pop-up-modal-close-btn:focus {
    /* background: var(--ocean); */
    border: none;
}

.pop-up-modal-close-icon {
    stroke: var(--light-theme-text-color);
    width: 20px;
    height: 20px;
}

.pop-up-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: calc(100% - 80px);
}

.pop-up-main-wrap {
    display: flex;
    flex-direction: column;
}

.pop-up-iframe {
    width: 295px;
    height: 295px;
    position: relative;

    overflow: hidden;
}

.pop-up-iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pop-up-title {
    font-size: 18px;
    font-style: normal;
    line-height: 1.33em;
    text-transform: uppercase;

    margin-top: 20px;
    margin-bottom: 14px;
}

.pop-up-info {
    display: flex;
    flex-direction: column;

    max-height: calc(100% - 100px);
    overflow-y: scroll;
}

.pop-up-info::-webkit-scrollbar {
    width: 0.5em;
}

.pop-up-info::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.pop-up-list-ingredient {
    margin-bottom: 40px;
}

.pop-up-item-ingredient {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--light-theme-transparent-color);

    padding-bottom: 8px;
}

.pop-up-item-ingredient:not(:last-child) {
    margin-bottom: 22px;
}

.pop-up-name {
    font-weight: 400;
    line-height: 1.28em;
}

.pop-up-measure {
    color: var(--light-theme-semi-transparent-color);
    font-weight: 400;
    line-height: 1.28em;
}

.pop-up-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    color: var(--light-theme-semi-transparent-color);
    line-height: 1.28em;

    margin-bottom: 33px;
}

.pop-up-list-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 8px;

    font-size: 12px;
    line-height: 1.17em;

    margin-bottom: 24px;
}

.pop-up-item-tag {
    border: 1px solid var(--light-theme-transparent-color);
    border-radius: 35px;

    padding: 8px 16px;
}

.pop-up-instructions {
    /* height: 140px; */

    /* overflow-y: scroll; */
}

/* .pop-up-instructions::-webkit-scrollbar {
    width: 0.5em;
} */

.pop-up-list-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.pop-up-btn-add {
    padding: 12px 24px;
}
.pop-up-btn-rating {
    padding: 12px 24px;
    color: var(--light-theme-text-color);
    background-color: transparent;
    border: 1px var(--accent-color) solid;
    border-radius: 15px;
}

.pop-up-btn-rating:hover,
.pop-up-btn-rating:focus {
    background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .pop-up-modal {
        width: 530px;

        padding: 32px;
    }

    .pop-up-iframe {
        width: 466px;
        order: -2;

        margin-bottom: 16px;
    }

    .pop-up-title {
        order: -3;

        margin-top: 0;
        margin-bottom: 16px;
    }

    .pop-up-list-tags {
        order: -1;
    }

    .pop-up-list-ingredient {
        margin-bottom: 32px;
    }

    .pop-up-list-btn {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        margin-top: 32px;
    }

    .pop-up-btn-add {
        padding: 14px 28px;
    }
    .pop-up-btn-rating {
        padding: 14px 28px;
    }
}

@media screen and (min-width: 1280px) {
}
