.backdrop__rating {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transform-dur-and-func)
        var(--transform-dur-and-func);
    z-index: 21;
}

.rating__modal {
    width: 424px;
    height: 254px;
    padding: 32px;
    border-radius: 15px;

    background-color: rgba(255, 255, 255, 1);

    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition: transform var(--transform-dur-and-func)
        var(--transform-dur-and-func);
}

@media screen and (max-width: 768px) {
    .rating__modal {
        min-width: 335px;
        height: 216px;
        padding: 20px;
    }
}

.rating-text {
    font-weight: 600;
    margin-bottom: 4px;
}

.rating__wrap {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.set__rating .rating__value {
    font-size: 16px;
    line-height: 1.5;
    margin-right: 8px;
}

.rating__radio {
    width: 24px;
    height: 24px;
    opacity: 0;
}

.star__wrap {
    position: absolute;
    left: 32px;
}

.set__rating .rating__icon {
    width: 24px;
    height: 24px;
}

.rating__icon {
    fill: rgb(217, 217, 217);
}

.active__star {
    fill: rgba(238, 161, 12, 1);
}

.rating__form {
    min-width: 295px;
}

.rating__input {
    height: 46px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    border-radius: 15px;
    display: block;
    width: 100%;
    padding: 14px 18px;
    margin-bottom: 14px;
}

.rating__submit {
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close__rating__btn {
    position: absolute;
    right: 14px;
    top: 14px;
    background-color: transparent;
}
.close__icon {
    stroke: rgba(5, 5, 5, 1);
}

.card__rating {
    display: flex;
    gap: 4;
}

.card__rating .rating__icon {
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .card__rating .rating__icon {
        width: 16px;
        height: 16px;
    }
}
