/* ------------- Select -------------------- */

.ss-content .ss-list .ss-option {
    color: var(--light-theme-almost-transparent-color, #0505054d) !important;
    padding: 4px 6px !important;
    font-family: Inter !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 1.28 !important;
}

.ss-content .ss-list .ss-option:hover {
    background-color: transparent !important;
    color: var(--light-theme-text-color, #050505) !important;
}
.ss-single {
    color: var(--light-theme-semi-transparent-color, #05050580) !important;
}
.ss-main {
    border: 1px solid var(--light-theme-transparent-color, #05050533) !important;
    color: var(--light-theme-semi-transparent-color, #05050580) !important;
}
.ss-main path {
    stroke: var(--light-theme-semi-transparent-color, #05050580) !important;
    transition: stroke
        var(--animation, 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77)) !important;
}
.ss-main:is(:hover, :focus) path {
    stroke: var(--accent-color, #9bb537) !important;
}
.ss-content {
    background-color: var(--light-modal-background-color, #fff) !important;
    border: none !important;
    border-radius: 14px !important;
    max-height: 176px !important;
}
.ss-content.select-time {
    max-height: 124px !important;
}
.ss-main {
    background-color: transparent !important;
    padding: 14px 18px !important;
    border-radius: 15px !important;
}
.ss-main:focus {
    box-shadow: none !important;
}
.ss-main.ss-open-below {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.js-form-filter {
    margin-bottom: 20px;
}

.form-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.field-search {
    max-width: 335px;
}

.field-time {
    width: 160px;
}

.field-area {
    width: 161px;
}

.field-ingredients {
    width: 188px;
}

.input-search::placeholder {
    color: var(--light-theme-semi-transparent-color, #05050580);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
}

.form-label {
    display: block;
    color: var(--light-theme-semi-transparent-color, #05050580);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16;

    padding-bottom: 8px;
}

.select-time,
.select-area,
.select-ingredients {
    padding: 14px 18px;
}

.input-search,
.select-time,
.select-area,
.select-ingredients {
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--light-theme-transparent-color, #05050533);
    height: 46px;
    transition: var(--animation, 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77));
    background-color: transparent;
    color: var(--light-theme-text-color, #050505);
    outline: none;
}

.input-search {
    padding: 14px 48px;
}

.select-ingredients {
    width: 188px;
}

.input-thumb {
    position: relative;
}

.input-search + svg {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    fill: var(--light-theme-semi-transparent-color, #05050580);
    transition: var(--animation, 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77));
}
.input-search:is(:hover, :focus) + svg {
    fill: var(--accent-color, #9bb537);
}

.btn-reset-form {
    margin-left: auto;
    display: flex;
    gap: 4px;
}

.span-reset-form {
    color: var(--light-theme-semi-transparent-color, #05050580);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    transition: var(--animation, 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77));
}

.btn-reset-form:is(:hover, :focus) .span-reset-form {
    color: #9bb537;
}

.icon-reset-form {
    width: 16px;
    height: 16px;
}

/* --------------- Cards ------------------- */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
}

.heart {
    display: flex;
    margin-left: auto;
    margin-bottom: 176px;
}

.icon-heart {
    stroke: #f8f8f8;
    fill: transparent;
    opacity: 0.5;
    transition: opacity
            var(--animation, 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77)),
        fill var(--animation, 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77));
}

.icon-heart:is(:hover, :focus) {
    opacity: 1;
    fill: rgba(248, 248, 248, 1);
}

.icon-heart-active {
    opacity: 1;
    fill: rgba(248, 248, 248, 1);
}

.wrap-card-container {
    width: 335px;
    height: 335px;
    border-radius: 8px;
    padding: 16px;
}

.title-card-rec {
    width: 183px;
    height: 18px;
    color: #f8f8f8;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28;
    text-transform: uppercase;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-card-rec {
    width: 303px;
    height: 32px;
    margin-bottom: 16px;
    overflow: hidden;
    color: #f8f8f8;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33333;

    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.thumb-rating-btn-see {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-rating-main {
    color: #f8f8f8;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    align-items: center;
}

.btn-see-recipe {
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #9bb537;
    color: #f8f8f8;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--animation, 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77));
}

.btn-see-recipe:is(:hover, :focus) {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4) inset;
}

/* ------------- Categories ---------------- */

.btn-all-cat {
    display: inline-flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--light-theme-transparent-color, #05050533);
    color: var(--light-theme-semi-transparent-color, #05050580);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
    transition: var(--animation, 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77));
}

.btn-all-cat:is(:hover, :focus) {
    background-color: #9bb537;
    color: #f8f8f8;
    border-color: transparent;
}

.list-btn-categories {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 326px;
    height: 198px;
    overflow: auto;
}

.btn-categories {
    color: var(--light-theme-almost-transparent-color, #0505054d);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    transition: var(--animation, 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77));
}

.btn-categories:is(:hover, :focus) {
    color: #9bb537;
}

.btn-categories.btn-categories-is-active {
    color: #9bb537;
}

/* ------------- @amedia ------------------- */
@media screen and (min-width: 768px) {
    .btn-categories {
        font-size: 16px;
        line-height: 1.25;
    }
    .ss-content .ss-list .ss-option {
        font-size: 16px;
        line-height: 1.25;
    }
    .ss-content {
        max-height: 188px !important;
    }
    .ss-content.select-time {
        max-height: 128px !important;
    }
    .list-btn-categories {
        width: 176px;
        height: 416px;
        gap: 24px;
    }
    .btn-all-cat {
        margin-top: 26px;
        margin-bottom: 30px;
    }
    .cards-container {
        margin-bottom: 64px;
    }
    .cards-container {
        gap: 16px;
    }
    .text-card-rec {
        width: 208px;
    }
    .heart {
        margin-bottom: 105px;
    }
    .wrap-card-container {
        width: 240px;
        height: 264px;
    }
    .input-search,
    .select-time,
    .select-area,
    .select-ingredients {
        height: 48px;
    }
    .field-search {
        max-width: 278px;
    }
    .field-time {
        width: 125px;
    }
    .field-area {
        width: 141px;
    }
    .form-label {
        font-size: 14px;
        line-height: 1.28;
    }
    .form-filter {
        gap: 16px;
        margin-bottom: 14px;
    }
    .js-form-filter {
        margin-bottom: 14px;
    }

    .field-search {
        max-width: 278px;
    }
}

@media screen and (min-width: 1280px) {
    .list-btn-categories {
        width: 235px;
    }
    .btn-all-cat {
        margin-bottom: 42px;
    }
    .btn-see-recipe {
        padding: 8px 14px;
    }
    .text-card-rec {
        width: 218px;
    }
    .wrap-card-container {
        width: 250px;
        height: 287px;
    }
    .heart {
        margin-bottom: 128px;
    }
    .cards-container {
        gap: 20px 16px;
    }
}
