/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./common.css');
@import url('./pagination.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./footer.css');
@import url('./popular-recipes.css');
@import url('./recipes.css');
@import url('./Favorites.css');
@import url('./pop-up.modal.css');
@import url('./rating-modal.css');
@import url('./order.modal.css');

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'),
        url(../fonts/Inter-Medium.woff2) format('woff2'),
        url(../fonts/Inter-Medium.woff) format('woff'),
        url(../fonts/Inter-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url(../fonts/Inter-Regular.woff2) format('woff2'),
        url(../fonts/Inter-Regular.woff) format('woff'),
        url(../fonts/Inter-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter SemiBold'), local('Inter-SemiBold'),
        url(../fonts/Inter-SemiBold.woff2) format('woff2'),
        url(../fonts/Inter-SemiBold.woff) format('woff'),
        url(../fonts/Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
